# Exclude y-provider from reggie-web build context
reggie-y-provider
# Exclude cloudrun (llamaindex) from reggie-web build context
cloudrun
docs
documentation
node_modules
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.git
.gitignore
Dockerfile*
docker-compose*
tests
coverage
dist
build
.vscode
.idea
*.log
*.md
*.yml
*.yaml
logs
npm-debug.log
**/.env
venv
.venv
.direnv
.pytest_cache
