.idea/
.vscode/
*.code-workspace
*.pyc
*~
.venv/
venv/
__pycache__/
.pytest_cache/
.ruff_cache/
db.sqlite3
.sass-cache/
celerybeat-schedule
bh_reggie/localsettings.py
bh_reggie/local.py
static_root/
node_modules/
openapitools.json
media/
docs/_build/
_dist/
.env
.env.*
!.env.example
.DS_Store
.direnv/
.envrc
deploy/.env.google
.gcp/

# Logs
*.log
yarn-error.log*
yarn-debug.log*
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Output
build/
dist/
dist-ssr/

# docs_core/ (if not needed in repo)
docs_core/
*no-commit*

# Uncomment these lines after setting up the front-end build pipeline in dev and production
# static/css/
# static/js/

*venv*
staticfiles/
