# You can edit these values as you need to. Then source this file to load them into environment variables.
PROJECT_SLUG=bh_reggie
PROJECT_URL=bh-reggie
PROJECT_ID=$(gcloud config get-value core/project)
REGION=us-central1
SERVICE_ACCOUNT=$(gcloud iam service-accounts list --filter cloudrun-serviceaccount --format "value(email)")
ARTIFACT_REGISTRY=${REGION}-docker.pkg.dev/${PROJECT_ID}/containers
IMAGE_URL=${ARTIFACT_REGISTRY}/${PROJECT_SLUG}-cloudrun

# Database details
DATABASE_INSTANCE_NAME=${PROJECT_URL}-instance
DATABASE_NAME=${PROJECT_SLUG}
DATABASE_USER=django
DATABASE_PASSWORD=***
DATABASE_URL=postgres://${DATABASE_USER}:${DATABASE_PASSWORD}@//cloudsql/${PROJECT_ID}:${REGION}:${DATABASE_INSTANCE_NAME}/${DATABASE_NAME}
DATABASE_ADDRESS=${PROJECT_ID}:${REGION}:${DATABASE_INSTANCE_NAME}

# Storage / media details
GS_BUCKET_NAME=${PROJECT_ID}-media
SECRET_KEY=django-insecure-XD98DJPRjaByYTKuR8GXZvpMis9mVX5iDoXzQ0C6Nv658s4j57iP7bS2qqXF

# Redis info
REDIS_INSTANCE_ID=${PROJECT_ID}-redis
REDIS_NETWORK=$(gcloud redis instances describe ${REDIS_INSTANCE_ID} --region ${REGION} --format "value(authorizedNetwork)")
REDIS_IP=$(gcloud redis instances describe ${REDIS_INSTANCE_ID} --region ${REGION} --format "value(host)")
