agno
beautifulsoup4
channels
dj_rest_auth
django_celery_beat
django_environ
django_health_check
django_modelcluster
django_storages
django_waffle
djangorestframework_api_key
djangorestframework_simplejwt
drf_spectacular
inquirer
mailchimp3
Markdown
nest_asyncio
numpy
openai
protobuf
python-dotenv
python_dateutil
selenium
sentry_sdk
slack_sdk
streamlit
stripe
typer
wagtail
