Django
boto3
celery
celery-progress
celery[redis]
channels
channels_redis
dj-rest-auth
dj-stripe<2.9
django-allauth[socialaccount,mfa]
django-anymail[mailgun]  # email services
django-celery-beat
django-cors-headers
django-cryptography
django-environ
django-health-check
django-hijack
django-storages
django-waffle
djangorestframework
djangorestframework-api-key
djangorestframework-simplejwt
docutils
drf-spectacular
mailchimp3
markdown
openai
psycopg2-binary
redis
requests
sentry-sdk
stripe
wagtail
whitenoise[brotli]
agno
slack-sdk
numpy
sqlalchemy